:root {
    --primaryFont: 'Playfair Display';
    /*BACKGROUNDS*/
    --primary-bg: 	#253439; 
    --secondary-bg: #202D31;
    --tertiary-bg:#182225;
    /*FONT WEIGHT*/
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --heavy:900;
    /*COLORS*/
    --primary-cl: #b29e84;
    --secondary-cl: #c8cac8;
    --tertiary-cl:#7BAEBD;
}

/***********************************************************************/

/* Fonts Adjustments*/
h1, h2, h3, h4, h5 {
    font-family: var(--primaryFont);
    font-weight: var(--light);
    line-height: var(--height-line);
}

p {
    font-family: var(--primaryFont);
    font-weight: var(--thin);
    color: var(--secondary-cl);
}

.navbar-nav .nav-link {
    color: var(--primary-cl) !important; 
  }
  
.navbar-nav .nav-link:hover {
    color: var(--secondary-cl) !important; 
    border-bottom: var(--secondary-cl) solid 2px;
  }

h1 {
    font-size: 4.5rem;
    color: var(--primary-cl);
    font-weight: var(--medium);
    text-shadow: 0px 4px 4px black
}

h2 {
    font-size: 2.9rem;
    color: var(--primary-cl);
    font-weight: var(--medium);
    padding: 2rem;
    text-shadow: 0px 4px 4px black
}


h3 {
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--tertiary-cl);
    text-shadow: 0px 4px 4px black;
}

h4 {
    font-size: 0.9rem;
    font-weight: var(--bold);
    color: var(--secondary-cl);
    font-style: italic;
    text-shadow: 0px 4px 4px black;
}

h5{
    font-size: 1rem;
    font-weight: var(--bold);
    color: var(--primary-cl);
    text-shadow: 0px 4px 4px black
}

ul {
    padding: 0 1rem;
    margin-left: 0;  /* Quita el margen del <ul> */
    list-style: none; 
    column-count: 2; /* Divide la lista en 2 columnas */
    column-gap: 2rem; /* Añade espacio entre las columnas */
}


 li {
    color: var(--secondary-cl);
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0; /* Elimina cualquier padding del <li> */
    margin-left: 0;  /* Elimina cualquier margen del <li> */
    padding-bottom: 1rem; /* Añade espacio entre los items de la lista */
}

a {
    text-shadow: 0px 4px 4px black
}

body {
    font-family: "Playfair Display";
}


/***********************************************************************/

/* Background color animation*/
.css-selector {
    background: linear-gradient(270deg, #182225, #253439);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}


/***********************************************************************/


/*NAV BAR*/
.logo {
    height: 3rem;
    border-radius: 30px;
    border: var(--primary-cl) solid 3px;
}

.navbar-brand {
    padding: 0 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Separar logo de los enlaces */
    align-items: center;
}
  
.navbar-nav {
    display: flex;
    justify-content: flex-end; /* Mover enlaces hacia la derecha */
    width: 100%;
    padding: 1rem 2rem;
}

/***********************************************************************/

/*HEADER SECTION*/


/* Adjust the position of the header */
.header {
   height: 45rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   
}

/*adjust the color of the subtitle*/
.header p {
    font-size: 1.2rem;
    font-style: italic;
}

/***********************************************************************/


/*EDUACTION SECTION*/


/*SKILLS*/

.skills {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
}

li p {
    padding: 0 1rem;
}


/***********************************************************************/

/*EDUCATION*/

.education {
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}



.paper-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap; /* Allows wrapping of items */
    gap: 2rem; /* Adds spacing between items */
}
 

.paper {
    /* text-align: left; */
    padding: 0 1rem;
    height: 14rem;
    align-content: center;
    width: 30%;
    background-color: var(--tertiary-bg);
}

.paper:hover, .card-project:hover {
    background-color: rgba(37, 52, 57, 0.4);
}



.paper .c-btn {
    display: flex;
}


/****************************************************************************************************/
/*PROJECTS*/

.projects h2{
    text-align: center;
}

.img-container {
    padding: 2rem;
}



.project-container {
    text-align: left;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-title {
    text-align: center;
    color: var(--tertiary-cl);
    padding-bottom: 1.5rem;
}

.project-tech p, .project-description p, .project-achivments li  {
    padding: 1rem;
}

.project-achivments {
    display: flex;
    flex-direction: column;
}


.project-achivments ul {
    padding: 0;
    margin: 0;
    column-count: 1;
    
}

.project-achivments li {
    margin: 0; 
}

.card-project {
    width: 30rem;
    margin: 0.5rem 0;
}


.card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}




/***********************************************************************/
/*EXPERIENCE*/

.experience h2{
    text-align: center;
}


.experience-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.exp-container {
    margin: 2rem 0;
    padding: 1rem;    
}

.exp-container h4 {
    padding-left: 1rem;
}

.exp-container ul {
    column-count: 1;
}

.exp-container li {
    padding-left: 1rem;
}





/****************************************************************************************************/

@media (max-width: 1024px) {
    .paper {
        width: 30%; /* Each paper will take 30% of the container's width */
        height: 14rem;
    }

    .paper-container {
        padding: 0 1rem;
    }
    .skills {
    flex-direction: column;
    }

    .skill-container {
       margin: 2rem 0;
    }

}

/* Responsive layout for mobile devices */
@media (max-width: 768px) {
    .paper {
        width: 45%; /* Two papers per row on smaller screens */
        height: 20rem;
    }

    .paper-container {
        padding: 0 1rem;
    }

    ul {
        column-count: 1; /* Muestra solo una columna en pantallas pequeñas */
    }
    .card-project {
        width: 300;
    }
}


/* Additional Small Screen Adjustments */
@media (max-width: 480px) {
    .skills {
        flex-direction: column; /* Stack vertically on cellphones */
    }
    li {
        flex-direction: column; /* Stack skill title and slider vertically */
        align-items: center;
    }
    li p {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .card-project {
        width: 300;
    }
}