/* Define custom properties */
:root {
    --primaryFont: 'Playfair Display'; /* Primary font for the site */
    --primary-bg: #253439; /* Primary background color */
    --secondary-bg: #202D31; /* Secondary background color */
    --tertiary-bg: #182225; /* Tertiary background color */
    --primary-cl: #b29e84; /* Primary text color */
    --secondary-cl: #c8cac8; /* Secondary text color */
    --tertiary-cl: #7BAEBD; /* Tertiary text color */
    --thin: 100; /* Thin font weight */
    --extra-light: 200; /* Extra-light font weight */
    --light: 300; /* Light font weight */
    --normal: 400; /* Normal font weight */
    --medium: 500; /* Medium font weight */
    --semi-bold: 600; /* Semi-bold font weight */
    --bold: 700; /* Bold font weight */
    --extra-bold: 800; /* Extra-bold font weight */
    --heavy: 900; /* Heavy font weight */
}

/* General Settings */
html {
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

body {
    font-family: var(--primaryFont); /* Set the font family for the body */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Typography */
h1, h2, h3, h4, h5 {
    font-family: var(--primaryFont); /* Set the font family for all headings */
    font-weight: var(--light); /* Set default font weight */
    line-height: var(--height-line); /* Line height for headings */
}

h1 {
    font-size: 4.5rem; /* Font size for h1 */
    color: var(--primary-cl); /* Font color for h1 */
    font-weight: var(--medium); /* Font weight for h1 */
    text-shadow: 0px 4px 4px black; /* Shadow effect for h1 text */
}

h2 {
    font-size: 2.9rem; /* Font size for h2 */
    color: var(--primary-cl); /* Font color for h2 */
    font-weight: var(--medium); /* Font weight for h2 */
    padding: 2rem; /* Padding around h2 */
    text-shadow: 0px 4px 4px black; /* Shadow effect for h2 text */
}

h3 {
    font-size: 1.5rem; /* Font size for h3 */
    font-weight: var(--bold); /* Font weight for h3 */
    color: var(--tertiary-cl); /* Font color for h3 */
    text-shadow: 0px 4px 4px black; /* Shadow effect for h3 text */
}

h4 {
    font-size: 0.9rem; /* Font size for h4 */
    font-weight: var(--bold); /* Font weight for h4 */
    color: var(--secondary-cl); /* Font color for h4 */
    font-style: italic; /* Italicize h4 text */
    text-shadow: 0px 4px 4px black; /* Shadow effect for h4 text */
}

h5 {
    font-size: 1rem; /* Font size for h5 */
    font-weight: var(--bold); /* Font weight for h5 */
    color: var(--primary-cl); /* Font color for h5 */
    text-shadow: 0px 4px 4px black; /* Shadow effect for h5 text */
}

p {
    font-family: var(--primaryFont); /* Set the font family for paragraphs */
    font-weight: var(--thin); /* Font weight for paragraphs */
    color: var(--secondary-cl); /* Font color for paragraphs */
}

/* Links */
a {
    text-shadow: 0px 4px 4px black; /* Shadow effect for links */
}

.navbar-nav .nav-link {
    color: var(--primary-cl) !important; /* Set color for navbar links */
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-cl) !important; /* Change color on hover */
    border-bottom: var(--secondary-cl) solid 2px; /* Add underline on hover */
}

/* Lists */
ul {
    padding: 0 1rem; /* Padding around the list */
    margin-left: 0; /* Remove left margin */
    list-style: none; /* Remove list bullet points */
    column-count: 2; /* Divide the list into 2 columns */
    column-gap: 2rem; /* Space between columns */
}

li {
    color: var(--secondary-cl); /* Font color for list items */
    list-style: none; /* Remove list bullet points */
    display: flex; /* Display list items as flex containers */
    justify-content: space-between; /* Space between list items */
    padding-left: 0; /* Remove left padding */
    margin-left: 0; /* Remove left margin */
    padding-bottom: 1rem; /* Space between list items */
}

li p {
    padding: 0 1rem; /* Padding inside list item paragraphs */
}

/* Backgrounds and Animations */
.css-selector {
    background: linear-gradient(270deg, #182225, #253439); /* Background gradient */
    background-size: 400% 400%; /* Size of the background gradient */
    -webkit-animation: AnimationName 20s ease infinite; /* Webkit animation */
    -moz-animation: AnimationName 20s ease infinite; /* Mozilla animation */
    animation: AnimationName 20s ease infinite; /* Standard animation */
}

@-webkit-keyframes AnimationName {
    0% { background-position: 0% 86%; } /* Keyframe for animation */
    50% { background-position: 100% 15%; } /* Keyframe for animation */
    100% { background-position: 0% 86%; } /* Keyframe for animation */
}

@-moz-keyframes AnimationName {
    0% { background-position: 0% 86%; } /* Keyframe for animation */
    50% { background-position: 100% 15%; } /* Keyframe for animation */
    100% { background-position: 0% 86%; } /* Keyframe for animation */
}

@keyframes AnimationName {
    0% { background-position: 0% 86%; } /* Keyframe for animation */
    50% { background-position: 100% 15%; } /* Keyframe for animation */
    100% { background-position: 0% 86%; } /* Keyframe for animation */
}

/* Navbar */
.navbar {
    display: flex; /* Display navbar as a flex container */
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Align items vertically */
}

.navbar-brand {
    padding: 0 2rem; /* Padding around the brand */
}

.navbar-nav {
    display: flex; /* Display navbar links as flex container */
    justify-content: flex-end; /* Align links to the right */
    width: 100%; /* Full width for the navbar */
    padding: 1rem 2rem; /* Padding around navbar links */
}

.logo {
    height: 3rem; /* Height of the logo */
    border-radius: 30px; /* Rounded corners for the logo */
    border: var(--primary-cl) solid 3px; /* Border around the logo */
}

.navbar-toggler {
    border: 2px solid var(--primary-cl);
}

.navbar-toggler:focus {
    outline: none; /* Elimina el borde negro predeterminado */
    box-shadow: 0 0 0 2px rgba(178, 158, 132, 0.3); /* Borde personalizado cuando el botón esté enfocado */
  }
  
   

/* Header Section */
.header {
    height: 45rem; /* Height of the header */
    display: flex; /* Display header as a flex container */
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text horizontally */
}

.header p {
    font-size: 1.2rem; /* Font size for the header paragraph */
    font-style: italic; /* Italicize the header paragraph */
}

/* Skills Section */
.skills {
    display: flex; /* Display skills as a flex container */
    justify-content: space-evenly; /* Space skills evenly */
    text-align: center; /* Center text inside skills container */
    align-items: center; /* Center items vertically */
    padding-bottom: 2rem; /* Padding below the skills section */
}

.skill-container {
    margin: 2rem 0; /* Margin around the skill container */
}

/* Education Section */
.education-container {
    display: flex; /* Display education section as a flex container */
    justify-content: space-between; /* Space items between edges */
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center text inside the education container */
    margin-top: 2rem; /* Margin above the education container */
}

.paper-container {
    display: flex; /* Display paper items as a flex container */
    justify-content: space-evenly; /* Space paper items evenly */
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    gap: 2rem; /* Space between paper items */
}

.paper {
    padding: 0 1rem; /* Padding inside paper items */
    height: 14rem; /* Height of the paper items */
    align-content: center; /* Align content in the center */
    width: 30%; /* Width of the paper items */
    background-color: var(--tertiary-bg); /* Background color of paper items */
}

.paper:hover, .card-project:hover {
    background-color: rgba(37, 52, 57, 0.4); /* Background color on hover */
}

/* Projects Section */
.projects {
    margin: 5rem 0; /* Margin around the projects section */
}

.projects h2 {
    text-align: center; /* Center text for project section heading */
}

.img-container {
    padding: 1rem; /* Padding around image containers */
    border-radius: 30px; /* Rounded corners for image containers */
}

.project-container {
    text-align: left; /* Align text to the left */
    padding: 2rem; /* Padding inside the project container */
    display: flex; /* Display projects as a flex container */
    justify-content: space-evenly; /* Space projects evenly */
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    gap: 1rem; /* Space between project items */
}

.card-title {
    text-align: center; /* Center text inside card titles */
    color: var(--tertiary-cl); /* Font color for card titles */
    padding-bottom: 1.5rem; /* Padding below card titles */
}

.project-tech p, .project-description p, .project-achivments li {
    padding: 1rem; /* Padding inside project tech, description, and achievements */
}

.project-achivments {
    display: flex; /* Display achievements as a flex container */
    flex-direction: column; /* Stack achievements vertically */
}

.project-achivments ul {
    padding: 0; /* Remove padding from achievements list */
    margin: 0; /* Remove margin from achievements list */
    column-count: 1; /* Display achievements list as a single column */
}

.project-achivments li {
    margin: 0; /* Remove margin from achievements list items */
}

.card-container {
    margin: 1rem 0;
}

.card-project {
    width: 30rem; /* Width of project cards */
    
}

.card-btn {
    display: flex; /* Display buttons as a flex container */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    margin: 0.5rem; /* Margin around buttons */
}

/* Experience Section */
.experience {
    margin: 5rem 0; /* Margin around the experience section */
}

.experience h2 {
    text-align: center; /* Center text for experience section heading */
}

.experience-container {
    display: flex; /* Display experience items as a flex container */
    justify-content: space-between; /* Space experience items between edges */
    align-items: flex-start; /* Align items to the top */
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    padding: 0 1rem; /* Padding inside the experience container */
}

.exp-container {
    padding: 1rem; /* Padding inside experience containers */
    margin: 0 2rem; /* Margin around experience containers */
}

.exp-container h4 {
    padding-left: 1rem; /* Padding on the left of experience container headings */
}

.exp-container ul {
    column-count: 1; /* Display experience list as a single column */
}

.exp-container li {
    padding-left: 1rem; /* Padding on the left of experience list items */
}

/* Footer */
footer {
    padding: 0 3rem; /* Padding inside the footer */
}

.footer-container {
    border-top: 1px dashed rgba(178, 158, 132, 0.5); /* Border on top of footer */
    display: flex; /* Display footer as a flex container */
    justify-content: space-between; /* Space items between edges */
    align-items: center; /* Align items vertically */
    align-content: center; /* Align content in the center */
    padding: 2rem 1rem; /* Padding inside the footer container */
}

.footer-container p {
    padding: 0 1rem; /* Padding inside footer text */
    text-align: center; /* Center text inside the footer container */
}

.socials {
    display: flex; /* Display social icons as a flex container */
    justify-content: center; /* Center social icons horizontally */
    align-items: center; /* Center social icons vertically */
    gap: 1rem; /* Space between social icons */
}

/* Media Queries for Responsive Design */

/* Tablet and Small Desktop Adjustments */
@media (max-width: 1024px) {
    .paper {
        width: 30%; /* Each paper will take 30% of the container's width */
        height: 14rem; /* Height of the paper items */
    }

    .paper-container {
        padding: 0 1rem; /* Padding inside the paper container */
    }

    .skills {
        flex-direction: column; /* Stack skills vertically */
    }

    .skill-container {
        margin: 2rem 0; /* Margin around skill containers */
    }
}

/* Mobile Devices Adjustments */
@media (max-width: 768px) {
    .paper {
        width: 45%; /* Two papers per row on smaller screens */
        height: 20rem; /* Height of the paper items */
    }

    .paper-container {
        padding: 0 1rem; /* Padding inside the paper container */
    }

    ul {
        column-count: 1; /* Display list items in a single column */
    }

    .card-project {
        width: 300px; /* Width of project cards on small screens */
    }
}

/* Extra Small Screens Adjustments */
@media (max-width: 480px) {


    .skills {
        flex-direction: column; /* Stack skills vertically on cellphones */
    }

    .paper {
        column-count: 1; 
        width: 70%; /* Two papers per row on smaller screens */
        height: 15rem
    }

    li {
        flex-direction: column; /* Stack skill title and slider vertically */
        align-items: center; /* Center align items vertically */
    }

    li p {
        padding: 0; /* Remove padding from list item paragraphs */
        margin-bottom: 0.5rem; /* Add bottom margin to list item paragraphs */
    }

    .card-project {
        width: 300px; /* Width of project cards on extra small screens */
    }
    body {
        font-family: var(--primaryFont); /* Set the font family for the body */
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
}

/* Ensure no horizontal overflow */
.projects, .experience .education, .header {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    max-width: 100%; /* Limit maximum width */
}



/* Asegura que no haya desbordamiento en ningún caso */
body, html {
    overflow-x: hidden; /* Elimina el desbordamiento horizontal */
    max-width: 100%;    /* Limita el ancho al viewport */
  }
  
  /* Imágenes */
  img {
    max-width: 100%; /* Asegura que las imágenes no superen el ancho del contenedor */
    height: auto;    /* Mantiene la proporción de las imágenes */
  }
  
  /* Ajustes específicos para contenedores en móviles */
  @media (max-width: 768px) {
    .container-fluid, .projects, .experience, .skills {
      padding: 0 10px; /* Reduce el padding en pantallas pequeñas */
    }
  
    .card-project, .exp-container, .project-container {
      width: 100%;        /* Asegura que los elementos ocupen el 100% del ancho */
      max-width: 100%;    /* Limita el ancho al 100% */
      margin: 0;          /* Evita márgenes que puedan causar desbordamiento */
      padding: 0;         /* Elimina padding excesivo */
    }
  }
  
  /* Corrige posibles problemas de uso de vw */
  body {
    width: 100%; /* Asegura que no se use vw que puede causar desbordamiento */
  }




  